<div class="container-fluid">
	<div class="row">

		<% if @pending_audit_confirmations.count > 0 %>
		<div class="col-md-12 column jumbotron employee-blocks">
			<h3> Pending your confirmation </h3>
			<%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations }
			%>
		</div>
		<% end %>
		<div class="col-md-5 column jumbotron employee-blocks">
			<%= link_to "Request Overtime Approval", new_post_path, class: "btn btn-primary btn-block btn-large" %>
		</div>
	</div>
</div>
